<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FSWSection"
             type=" Module4_BCL.ConfigurationItems.FileSystemWatcherConfigurationSection, Module4_BCL"/>
  </configSections>

  <FSWSection numberFiles="true" markDateForFiles="false">
    <templateItems>
      <add pattern="defaultFolder" targetPath="D:\D1-D2\Module4_BCL\Module4_BCL\TargetDirectory\Default"/>
      <add pattern="\.txt" targetPath="D:\D1-D2\Module4_BCL\Module4_BCL\TargetDirectory\Txt"/>
    </templateItems>

    <pathItems>
      <add path="D:\D1-D2\Module4_BCL\Module4_BCL\TargetDirectory"/>
      <add path="D:\D1-D2\Module4_BCL\Module4_BCL\TargetDirectory1"/>
    </pathItems>
  </FSWSection>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
</configuration>